.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
#loader {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.527);
  z-index: 999999;
  position: absolute;
  display: flex;
  justify-content: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  align-self: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #dfc;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: silver transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
div,
h1,
h2,
h3,
h4,
html,
img,
p,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 600;
  font: inherit;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: solid 5px transparent;
  background: #bcbab7;
  min-height: 40px;
}
::-webkit-scrollbar-track {
  background: 0 0;
}
html {
  background-color: rgba(221, 221, 221, 0.568);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-right: 10px solid #fff !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 600;
}
body {
  margin: 0;
  height: 100vh !important;
}
div {
  display: block;
}
.head {
  background: #fff;
  color: #222;
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 12px 24px 12px 12px;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  font-weight: 600 !important;
}
.head h1 {
  flex-grow: 1;
  margin-left: 2%;
}
.casesTr {
  font-size: 15px;
  font-weight: 600;
}
.casesT,
.samplesT {
  font-size: 32px;
  color: #990;
  font-weight: 700;
  line-height: 40px;
}
.samplesT {
  color: sienna;
}
.infoDatar {
  width: 320px;
  font-size: 13px !important;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #0000001a;
  position: relative;
  overflow-y: auto;
  z-index: 501;
  flex-direction: column;
  background-color: #fff;
}
.infoSide {
  border-bottom: #ddd 1px solid;
  color: #333;
  padding-bottom: 20px;
}
#stateName {
  font-size: 15px;
  text-align: center;
}
.map_and_info {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 70px);
}
.collapse-icon {
  cursor: pointer;
}
.test_side {
  align-self: stretch;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  position: relative;
}
.map_content {
  position: absolute;
  top: 56px;
  margin: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 4px 0 6px 0;
  display: block;
  width: auto;
  z-index: -1;
}
#matrix-group {
  padding-left: 50px;
}
svg {
  vertical-align: top;
}
.controlss {
  position: relative;
  z-index: 75;
  width: 45px;
  height: 125px;
}
#areaAlls {
  display: flex;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  position: relative;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.areaDiv {
  display: flex;
  align-items: center;
}
.areaDiv:not(:last-child) {
  margin-bottom: 12px;
}
.areaAll {
  display: flex;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 16px;
  user-select: none;
  position: relative;
  flex: 1;
  align-items: center;
}
.areaAll:hover {
  background: #dadada;
}
.areaAll .areaAllName {
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}
.areaAllCount {
  color: #00f;
  font-size: 13px !important;
  line-height: 20px;
}
.circles:hover {
  fill: #dadada !important;
}
.map_main {
  align-items: center;
  position: relative;
  height: 100%;
  overflow: hidden;
  text-align: left;
  padding: 10px 10px 0 10px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.num-text {
  color: tomato;
}
#clickMap span::before {
  content: "";
  background-image: url("https://elcozy.github.io/covid19-nigeria/img/infoIcon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: top;
  height: 25px;
  width: 32px;
  margin-left: 14px;
  display: inline-block;
}
#clickMap span {
  font-weight: 400;
  font-size: 0.9rem;
}
#map_format {
  stroke-linecap: round;
  stroke-linejoin: round;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  fill-rule: evenodd;
  clip-rule: evenodd;
  position: absolute;
  display: block;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.states_shapes {
  stroke-width: 0.1;
  stroke-linecap: round;
  stroke: #000;
  stroke-linejoin: round;
  fill: #fff8dc;
}
.str2 {
  stroke: #000;
  stroke-width: 0.1;
  stroke-opacity: 0.501961;
}
.statesN {
  background: #f7f7f7cc;
  backdrop-filter: blur(10px);
}
.head h1 img {
  height: 25px;
  width: 25px;
  vertical-align: bottom;
}
.head img {
  height: 22px;
  width: 22px;
  vertical-align: bottom;
  padding-top: 2.8px;
}
._10 {
  fill: #5ea32d;
}
._50 {
  fill: #c0db29;
}
._100 {
  fill: #f1f230;
}
._200 {
  fill: #eaae06;
}
._500 {
  fill: #ef8e06;
}
._900 {
  fill: #f04809;
}
._1000 {
  fill: #f02511;
}
.blue {
  color: #00f;
}
.red {
  background: red !important;
}
.yellow {
  background: #ff0 !important;
}
.greeen {
  color: green;
}
.green {
  background: green !important;
}
.purple {
  background: purple !important;
}
.land:hover,
.states_shapes:hover {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
  stroke: green;
  stroke-dasharray: 227;
  stroke-dashoffset: 0;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.areaAllName.blue {
  text-align: center;
}
svg text {
  display: none;
}
svg g:hover text {
  display: block;
}
.vl {
  padding-right: 18px;
  margin-right: 20px;
  border-right: 1px solid #ddd;
}
#state_stats {
  width: 190px;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  z-index: 72;
  display: none;
  box-sizing: border-box;
  border: 2px solid #7c7c7c;
  border-radius: 10px;
  max-height: 100%;
}
#state_stats::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border-left: 2px solid #7c7c7c;
  border-bottom: 2px solid #7c7c7c;
  background-color: #fff;
  position: absolute;
  left: -6px;
  top: 68px;
}
#state_stats.right::before {
  left: auto;
  right: -9px;
  transform: rotate(225deg);
}
.legend {
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  padding-top: 10px;
  grid-template-columns: 8px auto min-content;
  align-items: center;
  grid-gap: 16px 8px;
  font-size: 13px;
  line-height: 20px;
}
.legend .description {
  font-weight: 600;
  margin: 0;
}
.legend .dDescription {
  font-weight: 600;
  margin: 0;
  color: red;
}
.legend .color {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #00f;
}
.legend .total {
  display: flex;
  align-items: center;
}
.legend .dTotal {
  color: red;
  display: flex;
  align-items: center;
}
.stateNameH {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000;
  margin-bottom: 7px;
}
.statDivider {
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin: 5px 0 4px 0;
}
.statsHover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20px;
  min-width: 160px;
}
.statsHover .description {
  flex: 1;
  margin-right: 24px;
  height: 20px;
  font-size: 13px;
  line-height: 20px;
  color: #990;
}
.statsHover.color {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-right: 10px;
}
.statsHover .total {
  height: 20px;
  font-size: 13px;
  line-height: 20px;
  text-align: right;
  color: #990;
}
.svg-pan-zoom_viewport {
  display: block;
  background-color: #bada55;
  width: 100%;
  height: 100%;
}
path {
  cursor: pointer;
}
.svg-pan-zoom-control {
  cursor: pointer;
  fill: red;
  fill-opacity: 0.333;
}
.svg-pan-zoom-control:hover {
  fill-opacity: 0.8;
}
.svg-pan-zoom-control-background {
  fill: transparent;
  fill-opacity: 0.5;
}
.svg-pan-zoom-control-background {
  fill-opacity: 0.8;
}
footer {
  position: relative;
  z-index: 600;
  background: #fff;
  text-align: center;
  font-size: 10px;
  border: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2px;
  border-top: 1px solid #ddd;
}
a {
  color: #00f;
}
@media only screen and (max-width: 620px) {
  body {
    padding: 0;
    margin: 0;
  }
  .map_and_info {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 62px);
  }
  .test_side {
    align-self: stretch;
    width: 100%;
    height: 607px;
    overflow: hidden;
    z-index: 10;
    position: relative;
  }
  .infoDatar {
    width: 100%;
    height: 475px;
  }
  .head {
    font-size: 16px;
  }
  .head h1 {
    text-align: center;
  }
  .collapse-icon {
    display: none;
  }
  .vl {
    display: none;
  }
  footer {
    padding: 0;
  }
}
